

services:
  nginx:
    build: ./requirements/nginx
    ports:
      - "8443:443" 
    # volumes:

    mariadb:
      image: mariadb:latest
      restart: always
      environment:
        MYSQL_ROOT_PASSWORD: root
        MYSQL_DATABASE: wordpress
        MYSQL_USER: user
        MYSQL_PASSWORD: password
      volumes:
        - db_data:/var/lib/mysql

  # wordpress:




